<section class="band_info">
  <input id="band_id" type="hidden" value="<%= @band.id %>" />
  <p>Band name: <span id="band_name"><%= @band.name %></span></p>
  <p>List of members:</p>
  <ul id="member_list">
    <% @band.get_members_with_position.each do |member| %>
      <li><%= member.username %> - <%= member.position %></li>
    <% end %>
  </ul>
</section>
<button id="add_member">Add a new member!</button>
<button id="add_concert">Add a new concert!</button>

<div id="all_musicians" class="ask_for_input">
  <ul></ul>
</div>

<div id="new_concert" class="ask_for_input">
  <%= render 'concerts/form' %>
</div>

<div id="position_form" class="ask_for_input">
  <form>
    <span id="musician_name"></span>'s position in the band:
    <input type="text" id="input_position" />
    <input type="submit" value="Set position">
  </form>
</div>