<section class="profile_info">
  <img src="" alt="<%= @band.name %>" class="profile_picture">
  <input id="band_id" type="hidden" value="<%= @band.id %>" />
  <p>Band name: <span id="band_name"><%= @band.name %></span></p>
  <p>List of members:</p>
  <ul id="member_list">
    <% @band.get_members_with_position.each do |member| %>
      <li><%= member.username %> - <%= member.position %></li>
    <% end %>
  </ul>
    <menu class="musician_menu">
      <ul>
        <li><button id="add_member">Add a new member!</button></li>
        <li><button id="add_concert">Add a new concert!</button></li>
      </ul>
    </menu>
</section>



<div class="greyed" id="all_musicians">
  <div class="content">
    <ul></ul>
  </div>
</div>

<div class="greyed" id="new_concert">
  <div class="content">
    <%= render 'concerts/form' %>
  </div>
</div>

<div class="greyed" id="position_form"><div class="content">
  <form>
    <span id="musician_name"></span>'s position in the band:<br/>
    <input type="text" id="input_position" /><br/>
    <input type="submit" value="Set position" class="button">
    <button id="back_to_list">Back</button>
  </form>
</div></div>