<!DOCTYPE html>
<html>
  <head>
    <title>Wtbp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>Profile</li>
        <li><a href="#"></a>Bands</li>
        <li><a href="#"></a>Concerts</li>
      </ul>
      <img src="assets/cbaix_logo.png">
    </nav>
    <section class="app_feedback">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </section>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
