<!DOCTYPE html>
<html>
  <head>
    <title>wtbp?</title>
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700,400italic|Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/musicians"><li>Musicians</li></a>
        <a href="/bands"><li>Bands</li></a>
        <a href="/concerts"><li>Concerts</li></a>
        <%= sign_in_or_out %>
      </ul>
      <img src="/assets/cbaix_logo.png">
    </nav>
    <article class="centered">
      <%= yield %>
    </article>
    <section>
      <div class="greyed"><div id="notice" class="content"><%= notice %></div></div>
      <div class="greyed"><div id="alert" class="content "><%= alert %></div></div>
    </section>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
