<!DOCTYPE html>
<html>
  <head>
    <title>wtbp?</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Bands</a></li>
        <li><a href="#">Concerts</a></li>
        <li><a data-method="delete" href="/users/sign_out">Sign out</a></li>
      </ul>
      <img src="/assets/cbaix_logo.png">
    </nav>
    <section >
      <p id="notice" class="app_feedback"><%= notice %></p>
      <p id="alert" class="app_feedback"><%= alert %></p>
    </section>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
