<!DOCTYPE html>
<html>
  <head>
    <title>wtbp?</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/musicians"><li>Musicians</li></a>
        <a href="/bands"><li>Bands</li></a>
        <a href="/concerts"><li>Concerts</li></a>
        <a href=""><li>Sign in</li></a>
      </ul>
      <img src="/assets/cbaix_logo.png">
    </nav>
    <section >
      <p id="notice" class="app_feedback"><%= notice %></p>
      <p id="alert" class="app_feedback"><%= alert %></p>
    </section>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
