<h1 class="title">Search Results for <em>"<%= @query %>"</em></h1>
<section class="column inline profile_info">
  <span class="relevant">Results for musicians</span>
  <ul>
    <% @musicians.each do |musician| %>
      <li><a href="<%= musician_path(musician) %>"><%= "#{musician.first_name} #{musician.last_name}" %> <span class="comment">(<%= musician.username %>)</span></a></li>
    <% end %>
  </ul>
</section>
<section class="column inline profile_info">
  <span class="relevant">Results for bands</span>
  <ul>
    <% @bands.each do |band| %>
      <li><a href="<%= band_path(band) %>"><%= band.name %> <span class="comment">(<%= band.year %>)</span></a></li>
    <% end %>
  </ul>
</section>